* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
}
body{
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* start header */
  .header{
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;

  }
  
  .header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  @media (max-width: 767px){
    .header .logo{
        width: 100%;
        height: 50px;
    }

  }
  .header .main-nav{
    display: flex;

  }
  @media (max-width: 767px){
    .header .main-nav{
        margin: auto;
    }
  }
  .header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;

  }
  @media (max-width: 767px){
    .header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

  }
  .header .main-nav > li > a::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    


  }
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;

  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }
  .header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 1px);
    transition: top var(--main-transition), opacity var(--main-transition);
    display: none;
    
   
}
@media (max-width: 767px){
    .header .mega-menu{
        display: none;
        flex-direction: column;
        gap: 0;
    }

  }

.header .main-nav li:last-of-type:hover .mega-menu{
    display: flex;
}




  
  .header .mega-menu .image img{
    max-width: 100%;
  }
  @media (max-width: 991px){
    .header .mega-menu .image img{
        display: none;
    }

  }

  .header .mega-menu .links{
    min-width: 240px;

  }
  .header .mega-menu .links li:not(:last-child){
    position: relative;
    border-bottom: 1px solid #ddd ;

  }
  .header .mega-menu .links li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color:#fafafa ;
    z-index: -1;
    transition: var(--main-transition);

  }
  .header .mega-menu .links li:hover:before{
    width: 100%;
    

  }
  .header .mega-menu .links li a{
    color:var(--main-color);
    padding: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;

  }
  .header .mega-menu .links li a i{
    margin: 10px;

  }


  /* end header */
  /* start landing */
  .landing{
    position: relative;

  }
  .landing::before {
    content: '';
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;

  }
  /* .landing .container .text{
    max-width: 50%;
    
  } */
  @media (max-width: 991px){
    .landing .text{
       text-align: center;
    }
   
  }
  .landing .container .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
  }
  @media (max-width: 767px){
    .container .text h1{
        font-size: 30px !important;
    }
    .container .text p{
        font-size: 20px !important;
    }
    
  }
  

  
  .landing .container .text p{
    font-size: 23px;
    line-height: 1.6;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
  }
  /* .landing .container .image{
    max-width: 50%;
  } */
  @media (max-width: 1030px){
    .landing .image{
        display: none;
    }
    
  }
 
  .landing .container .image img{
    position: relative;
    width: 600px;
    animation: up-down 5s linear infinite;
   

  }
  @keyframes up-down{
    0%, 100%{
        top: 0;

    }
    50%{
        top: -30px;
    }



}
  .landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px ;
    justify-content: space-around;
  
 

  }
  .landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    


  }
  .landing .go-down:hover {
    color: var(--main-color-alt);

  }
  .landing .go-down i{
    animation: bouncing 1.5s infinite;
  }
  @keyframes bouncing{
    0%, 10%, 20% ,50% ,80%, 100%{
        transform: translateY(0);

    }
    40%, 60%{
        transform: translateY(-20px);
    }

  }
  /* end landing */
  /* Start fake  */
  
  .article{
    margin: 100px auto;
  }
  .article h2{
   text-transform: uppercase;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   font-size: 30px;
   padding: 10px 20px;
   border: solid 2px black;
   margin: 0 auto 80px;
   width: fit-content;
   transition: 0.5s;
   letter-spacing: 2;
   font-weight: bold;
   z-index: 2;

  }
  .article ::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    z-index: -1;

  }
  .article ::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    transition: var(--main-transition);
    z-index: -1;
  }

  .article :hover::after{
    right: 0px;
    height: 100%;
    width: 50%;
    border-radius: 0;
    
  }

  .article :hover::before{
    left: 0px;
    height: 100%;
    width: 50%;
    border-radius: 0;
    
  }
  .article :hover{
    color: white;
    border: 2px solid white;
    transition-delay:0.3s ;
  }
  /* Start Articles */
  .articles{
    margin: 130px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    
    
    

  }
  .articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    

    
  }
  .articles .container .box{
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd;
    transition: 0.3s;
    transition: var(--main-transition);
    border-top: 2px solid #ddd;
    
    
  }
  .articles .container .box:hover{
    transform: translateY(-10px);
    box-shadow: rgba(221, 221, 221, 0.842);
  }
  .articles .container .box img{
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


  }
  .articles .container .box .content{
    padding: 20px;
    

  }
  .articles .container .box .content p{
    color: #666;
  }
  .articles .container .box .info{
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    border-top: 2px solid #ddd;
    padding: 20px;
    
   
    

  }
  .articles .container .box .info a{
    color: var(--main-color);
    font-weight: bold;
  }
  .articles .container .box:hover .info i{
    animation: move 0.6s infinite linear;

  }
  @keyframes move{
   
    100%{
        transform: translateX(10px);
       
       
    }
  }
  
   /* End Articles */
   /* Start gallery section */
   .gallery{
    margin: 150px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;
    

   }
  
  
   .gallery .container{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

   }
  
   .gallery .container .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    
   }
   .gallery .container .box .image {
    overflow: hidden;
    position: relative;
   }
   .gallery .container .box .image::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
    transition:var(--main-transition);
    opacity: 0;


   }
   .gallery .box .image:hover::after {
    animation: flashing 1s;
  }

   .gallery .container .box .image img{
    max-width: 100%;
    transition: 0.7s;
    

   }
   @keyframes flashing{
    0% ,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
   }
   .gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
  }
   /* End gallery section */
   /* Start Features */
   .features{
    margin: 150px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    background-color: white;

   }
   .features .container{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px, 1fr));
    gap: 40px;

   }
   .features .container .box{
    position: relative;
    border: 1px solid #ddd;
    height: 750px;
    background-color: white;
    

   }
   .features .container .box .image1{
    position: relative;
    overflow: hidden;
    
    transition: var(--main-transition);
    

   }
  
   .features .container .box .image2{
    position: relative;
    overflow: hidden;
    
    transition: var(--main-transition);

   }
 
   .features .container .box .image3{
    position: relative;
    overflow: hidden;
    
    transition: var(--main-transition);
   
   }
   .features .container .box .image1::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgb(244 64 54 / 60%);
   }
   .features .container .box .image2::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 150 136 / 60%);;

   }
   .features .container .box .image3::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgb(3 169 244 / 60%);
    

   }
   .features .container .box .image1::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition)
   }
   .features .container .box .image2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition)
   }
   .features .container .box .image3::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition)
   }
   .features .container .box .image1:hover::after {
    border-width: 170px 500px 170px 0;

   }
   .features .container .box .image2:hover::after {
    border-width: 170px 500px 170px 0;
  
   }
   .features .container .box .image3:hover::after {
    border-width: 170px 500px 170px 0;
  
   }

   .features .container .box img{
    max-width: 100%;
    padding: 1px;

   }
   .features .container .box .content{
    text-align: center;
   }
   .features .container .box .content p{
    color: #666;
    line-height: 1.6;
    font-size: 20px;
    padding: 10px;
    width: 90%;
    position: absolute;
    transform: translatex(-50%);
    left: 50%;
   

   }
   
   .features .container .box .infa{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    border: 2px solid #f44036;
    padding:  10px 30px;
    width: fit-content;
    border-radius :5px ;
    transition: var(--main-transition);
  


   }
   .features .container .box .infa a{
    color: #f44036;
    font-size: 20px;
    font-weight: bold;
   
   }
   .features .container .box .infa:hover{
    background-color: #f44036;
    }
   .features .container .infa:hover a{
    color: white;
   }
   .features .container .box .infb:hover{
    background-color: #009688;
   }
  .features .container .box .infb:hover a{
   color: white;
  }
   .features .container .box .infc:hover{
    background-color:  #03a9f4;
   }
   .features .container .box .infc:hover a{
    color: white;

   }

   .features .container .box .infb{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    border: 2px solid #009688;
    padding:  10px 30px;
    width: fit-content;
    border-radius :5px ;
    transition: var(--main-transition);


   }
 
   .features .container .box .infb a{
    color: #009688;
    font-size: 20px;
    font-weight: bold;

   }

   .features .container .box .infc{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    border: 2px solid #03a9f4;
    padding:  10px 30px;
    width: fit-content;
    border-radius :5px ;
    transition: var(--main-transition);
    


   }
  
   .features .container .box .infc a{
    color: #03a9f4;
    font-size: 20px;
    font-weight: bold;

   }
   .features .container .box .content .qu{
    position: relative;
   }
   .features .container .box .content .qu::after{
    content: '';
    position: absolute;
    border: 2px solid #f44036;
    width: 27%;
    left: 36%;
    top: 146%;
   }
   .features .container .box .content .ti{
    position: relative;
   }
   .features .container .box .content .ti::after{
    content: '';
    position: absolute;
    border: 2px solid #009688;
    width: 27%;
    left: 36%;
    top: 146%;
   }
   .features .container .box .content .pa{
    position: relative;
   }
   .features .container .box .content .pa::after{
    content: '';
    position: absolute;
    border: 2px solid #03a9f4;
    width: 27%;
    left: 36%;
    top: 146%;
   }


   /* End Features */
   /* Start TESTIMONIALS */
   .testimonials{
    margin: 150px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;

   }
   .testimonials.article{
    margin: 100px auto;
   }
   .testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px, 1fr));
   
    gap: 40px;
    margin-top: 237px;
   }
   .testimonials .container .box{
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    padding: 20px;
    
    
   }
   .testimonials .container .box img{
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid;
    border-color: #ececec;
   }
   .testimonials .container .box .title{
    color: #777;
    margin-bottom: 10px;
    display: block
    
   }
   .testimonials .container .box .rate{
    margin-top: 10px;
    margin-bottom: 0;;
   }
   .testimonials .container .box .rate i{
    color: #ffc107;
    
   }
   #ye{
     color:black ;
   }
   .testimonials .container .box p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;

   }
   .testimonials .container .box h3{
    margin: 0 0 10px;
   }
   /* End TESTIMONIALS */
   /* Start Team */
   .team{
    margin: 150px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    background-color: white;
   }
   .team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
   }
   .team .container .box{
    position: relative;
   
   
   }
   
   .team .container .box .data{
    display: flex;
    align-items: center;

   
    
    
    

   }
   .team .container .box .data img{
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
    
    
  
    
    /* max-width: 100%; */
   }
   .team .container .box .data .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
   .team .box:hover img {
    filter: grayscale(100%);
  }
  .team .box .info h3{
   margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team .box .data .social i{
 color: #009688;
 transition: var(--main-transition);
}
.team .box .data .social i:hover{
 color: #03a9f4;
}
.services{
 margin: 150px auto;
    padding-top: 100px ;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;

}
.services .container{
 display: grid;
 grid-template-columns: repeat(auto-fill ,minmax(300px, 1fr));
 gap: 40px;
 margin-top: 237px;

}
.services .box {
 background-color: white;
 box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
 counter-increment: services;
 transition: var(--main-transition);
 position: relative;
}
.services .box::before {
 content: "";
 left: 50%;
 transform: translateX(-50%);
 height: 3px;
 top: -3px;
 background-color: var(--main-color);
 position: absolute;
 width: 0;
 transition: var(--main-transition);
}
.services .box:hover {
 transform: translateY(-10px);
}
.services .box:hover::before {
 width: 100%;
}
.services .box > i {
 margin: 30px auto 20px;
 display: block;
 text-align: center;
 color: #d5d5d5;
}
.services .box > h3 {
 text-align: center;
 margin: 20px 0 40px;
 font-size: 25px;
 color: var(--main-color);
}
.services .box .info {
 padding: 15px;
 position: relative;
 background-color: #f9f9f9;
 text-align: right;
}
.services .box .info::before {
 content: "0" counter(services);
 position: absolute;
 background-color: var(--main-color);
 color: white;
 left: 0;
 top: 0;
 height: 100%;
 width: 80px;
 font-size: 30px;
 font-weight: bold;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 15px;
}
.services .box .info::after {
 content: "";
 position: absolute;
 background-color: #d5d5d5;
 top: 0;
 left: 80px;
 width: 50px;
 height: calc(100% + 0.4px);
 transform: skewX(-30deg);
}
.services .box .info a {
 color: var(--main-color);
}


  
   /* End Team */
   /* Start skills */
   .our-skills {
    padding-top: 100px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .our-skills .container {
    display: flex;
    align-items: center;
    margin-top: 237px;
    
  }
  @media (max-width: 991px) {
    .our-skills img {
      display: none;
    }
  }
  .our-skills .skills {
    flex: 1;
  }
  .our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .our-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
  }
  .our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
  }
  .our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
  }
  /* Start howitworks */
 
  .work-steps {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   position: relative;
   background-color: #d5d5d5;
   margin-top: 100px;
   padding-top: 30px;
  
 }
 .work-steps .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   margin-top: 283px;
 }
 @media (max-width: 991px) {
   .work-steps .container {
     flex-direction: column;
   }
 }

 @media (max-width: 991px) {
   .work-steps .image {
     margin: 0 0 50px;
   }
 }
 .work-steps .info{
  margin-top: 100px;
  margin-bottom: 100px;
 }
 .work-steps .info .box {
   background-color: #f6f5f5;
   padding: 30px;
   margin-bottom: 20px;
   border-radius: 6px;
   display: flex;
   align-items: center;
   border: 2px solid white;
   position: relative;
   z-index: 1;
 }
 @media (max-width: 767px) {
   .work-steps .info .box {
     flex-direction: column;
     text-align: center;
   }
 }
 .work-steps .info .box::before {
   content: "";
   left: 50%;
   top: 50%;
   position: absolute;
   width: 0;
   height: 0;
   transform: translate(-50%, -50%);
   background-color: #ededed;
   z-index: -1;
   transition: var(--main-transition);
 }
 .work-steps .info .box:hover::before {
   width: 100%;
   height: 100%;
 }
 .work-steps .info .box img {
   width: 64px;
   margin-right: 30px;
 }
 @media (max-width: 767px) {
   .work-steps .info .box img {
     margin: 0 0 30px;
   }
 }
 .work-steps .info .box h3 {
   margin: 0;
   font-size: 22px;
 }
 .work-steps .info .box p {
   color: #777;
   line-height: 1.7;
   margin: 10px 0 0;
   font-size: 18px;
 }

  /* end howitworks */
  /* Start events */
  .event{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: white;
    
  
  }
 
  .event .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   
   
  }
  .event .container .info{
    flex: 1;
   
  }
  .event .container .time{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
    
  }
  .event .container .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 75px;
    font-size: 20px;
    height: 100px;
    position: relative;
    
  }
  .event .container .time .unit .days{
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;


  }
  .event .container .time .unit .hours{
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;


  }
  .event .container .time .unit .minutes{
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;


  }
  .event .container .time .unit .seconds{
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;


  }
  .event .container .time .unit .d{
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
  }
  .event .container .time .unit .h{
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
  }
  .event .container .time .unit .m{
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
  }
  .event .container .time .unit .s{
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
  }
  .event .container img{
    width: 400px;
    
   
    
  }
  .event .container .info h2{
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;

  }
  .event .container .info p{
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
  }
  .event .container .email{
    width: 100%;
    margin-top: 50px;
    
  }
  .event .container .email form{
        background-color: #f6f5f5;
        width: 600px;
        padding: 20px;
        border-radius: 50px;
        margin: 20px auto;
        display: flex;
        gap: 10px;

  }
  @media (max-width: 767px){
    .event .container img{
      display: none ;
    }

  }
  @media (max-width: 767px){
    .event .container .email form{
      display: flex;
      flex-direction: column;
      max-width: 100%;
      border-radius: 0;

      
    }
   


  }
  @media (max-width: 767px){
    .event .container .email form input[type='submit']{
      border-radius: 0 !important;
      width: 100% !important;
      background-color: var(--main-color)!important;
      padding: 20px;

      

    }

  }

  .event .container .email form input[type='email']{
    padding: 20px;
    border-radius: 50px;
    border-color: white;
    border-style: none;
    flex: 1;
  }
  @media (max-width: 767px){
    .event .container .email form input[type='email']{
      border-radius: 0;

    }

  }
  .event .container .email form input[type='submit']{
    border-radius: 26px;
    background-color: var(--main-color);
    border: none;
    color: white;
    width: 100px;
    font-weight: bold;
    transition: var(--main-transition);
  }
  .event .container .email form input[type='email']:focus{
  outline: none;
  
  }
  .event .container .email form input[type='submit']:hover{
    background-color: var(--main-color-alt);
  }
  
  
  /* End events */
  /* Start pricing */
  .pricing{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #d5d5d5;
    margin-top: 200px;

  }
  .pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

  }
  .pricing .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    text-align: center;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
    
    
   

  }
  .pricing .container .box img{
    width: 80px;
    margin-bottom: 30px;
  }
  .pricing .container .box .label{
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
    top: 0;
  }
  
  .pricing .container .box .label::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white;
    border-width: 20px;
    
  }
  .pricing .box::before,
  .pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .box::before {
  left: 0;
  top: 0;
}
.pricing .box::after {
  right: 0;
  bottom: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
  .pricing .container .box .price .s{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color)
  }
  .pricing .container .box .price .m{
    color: #777;
   
  }
  .pricing .container .box .list ul{
  text-align: start;
  margin-top: 20px;
  }
  .pricing .container .box .list ul li{
    border-top: 1px solid #ccc;
    padding: 20px;
    display: flex;
    gap: 10px;
   
    
    

  }
  .pricing .container .box .list ul li i{
    color: var(--main-color);
    

    
  }
  .pricing .container .box .choose{
    border: 2px solid var(--main-color);
    padding: 10px;
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    color: var(--main-color);
    transition: var(--main-transition);
    
  }
  .pricing .container .box .choose:hover{
    background-color: var(--main-color);
    color: white;
  }
  /* end Pricing */
  /* Start top video */
  .video{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    margin-top: 200px;
  }
  .video .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
  }
  @media (max-width: 767px){
    .video .container{
      width: auto;
    }

  }

  .video .container .holder{
    display: flex;
    justify-content: center;
    background-color: #d5d5d5;
    border: solid 1px #ddd;
    
    
  }
  @media (max-width: 767px){
    .video .container .holder{
      display: flex;
      flex-direction: column;
      width: 500px;
    }

  }
  .video .container .holder .vd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 10px

  }
  .video .container .holder .vd img{
    width: 820px;
    margin-bottom: 100px;
  }
  @media (max-width: 767px){
    .video .container .holder .vd img{
      width: 361px;
      display: block;
      margin-bottom: 10px;

    }

  }
  
  .video .container .holder .vd .ever{
  background-color: white;
  padding: 20px;
  }
  .video .container .holder .title{
    display: flex;
    background-color: #f4f4f4;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
  }
  
  .video .container .holder .list{
    min-width: 300px;
    background-color: white;
  }
  .video .container .holder ul li{
    border-top: 1px solid #d5d5d5;
    padding: 20px;
    width: 100%;
    transition: var(--main-transition);
   
  }
  .video .container .holder ul li:hover{
    background-color: #fafafa;
    color: var(--main-color);
  }
  
  .video .container .holder ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
  }


  /* End video */



   




  